<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>CTATracker Config</title>
    </head>
    <body>
        <h1 class="title">
            CTA Tracker Configuration
        </h1>
        <h2 class="subheader"> Select Stations to Display </h2>
        <p class="hint-text">Drag stations from the left to right to show them on the display board</p>
        {{ station_list }}

        <br/>
        <h2 class="subheader"> Define time to show each station </h2>
        {{ rotation_speed }}
    </body>
</html>